#title{
    text-align: center;
}
#img-div{
    max-width: 100%;
    height: auto;
    
}
#image{
    width: 100%;
   

}
#img-caption{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
}